In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("housing_price_dataset.csv")

In [4]:
data.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [5]:
data['Neighborhood'].unique()

array(['Rural', 'Suburb', 'Urban'], dtype=object)

In [7]:
x=data.drop(['Price'],axis=1)
y=data['Price']

In [9]:
from sklearn.preprocessing import OneHotEncoder
os=OneHotEncoder()

In [11]:
neighborhood_encoded = os.fit_transform(neighborhood_1d)

feature_names = os.get_feature_names_out(['Neighborhood'])

neighborhood_encoded_df = pd.DataFrame(neighborhood_encoded.toarray(), columns=feature_names)
x_encoded = pd.concat([x, neighborhood_encoded_df], axis=1)

In [12]:
x_encoded

,SquareFeet,Bedrooms,Bathrooms,Neighborhood,YearBuilt,Neighborhood_Rural,Neighborhood_Suburb,Neighborhood_Urban
0,2126,4,1,Rural,1969,1.0,0.0,0.0
1,2459,3,2,Rural,1980,1.0,0.0,0.0
2,1860,2,1,Suburb,1970,0.0,1.0,0.0
3,2294,2,1,Urban,1996,0.0,0.0,1.0
4,2130,5,2,Suburb,2001,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
49995,1282,5,3,Rural,1975,1.0,0.0,0.0
49996,2854,2,2,Suburb,1988,0.0,1.0,0.0
49997,2979,5,3,Suburb,1962,0.0,1.0,0.0
49998,2596,5,2,Rural,1984,1.0,0.0,0.0
49999,1572,5,3,Rural,2011,1.0,0.0,0.0