In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("housing_price_dataset.csv")

In [4]:
data.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [5]:
data['Neighborhood'].unique()

array(['Rural', 'Suburb', 'Urban'], dtype=object)

In [7]:
x=data.drop(['Price'],axis=1)
y=data['Price']

In [9]:
from sklearn.preprocessing import OneHotEncoder
os=OneHotEncoder()

In [ ]:
neighborhood_1d = x['Neighborhood'].values.reshape(-1, 1)

# Fit and transform the reshaped array
neighborhood_encoded = os.fit_transform(neighborhood_1d)

# Update the original dataframe with the encoded values
x_encoded = pd.concat([x, pd.DataFrame(neighborhood_encoded.toarray(), columns=os.get_feature_names(['Neighborhood']))], axis=1)